[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
wtforms = "*"
alembic = "*"
flask-migrate = "*"
gunicorn = "*"
flask-cors = "*"
flask-login = "*"
flask-wtf = "*"
pycodestyle = "*"

[dev-packages]
psycopg2 = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
