.content-wrapper {
	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.form-wrapper {
	margin-right: 15%;
	margin-left: 15%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 100px 40px;
	border-radius: 5px;
	height: auto;
}
