@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap");

.content-wrapper {
	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.form-wrapper {
	margin-right: 25%;
	margin-left: 25%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 50px 40px;
	border-radius: 5px;
	height: auto;
}

.title-wrapper {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5px;
}

.buttons-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttons {
	color: white;
	background-color: black;
	padding: 8px 4px 8px 4px;
	border-radius: 4px;
	border: none;
	margin: 10px;
}

.buttons:hover {
	background-color: rgb(44, 44, 44);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
}

.document-wrapper {
	border-radius: 5px;
	margin: 40px 500px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	/* width: 80%; */
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.body-wrapper {
	width: 100%;
	margin: 0;
	font-family: "Roboto", sans-serif;
	text-align: left;
}

@media only screen and (min-width: 1200px) {
	.form-wrapper {
		margin-right: 15%;
		margin-left: 15%;
	}
}
