@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap");

.navbar {
	background-color: #b2cbe6;
	display: flex;
	justify-content: space-around;
}

.main-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-text {
	font-size: 2rem;
	margin: 10px;
	align-items: center;
	align-self: center;
	color: #343434;
}

.nav-links {
	list-style: none;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: space-between;
	padding: 0;
	font-family: "Roboto", sans-serif;
	margin-left: 20px;
}

li {
	margin: 10px;
}

a {
	color: #343434;
	text-decoration: none;
	font-weight: 300;
	font-size: 15px;
}

a:hover {
	font-size: 17px;
	text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	text-decoration: underline;
	text-decoration-color: #343434;
}

.navbar {
	border-bottom: 1px solid #343434;
}

.buttons {
	color: white;
	background-color: #343434;
	padding: 8px 4px 8px 4px;
	border-radius: 4px;
	border: none;
}

.buttons:hover {
	background-color: rgb(44, 44, 44);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
}
