@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap");

.signup-form-wrapper {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	overflow: hidden;
}

.signup-form {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	height: 600px;
	width: 400px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-title {
	font-family: "Permanent Marker", cursive;
}

.form-subtitle {
	font-family: "Roboto", sans-serif;
	text-align: center;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	width: 80%;
}

.input {
	padding: 2px;
	margin: 2px;
	border-bottom: 2px solid black;
	border-top: none;
	border-right: none;
	border-left: none;
	font-weight: 600;
}

.input:focus {
	outline: none;
}

.signup-button {
	color: white;
	background-color: black;
	padding: 7px 6px 7px 6px;
	border-radius: 4px;
	border: none;
}

.signup-button:hover {
	background-color: rgb(44, 44, 44);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
}
