.footer {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	bottom: 0;
	position: absolute;
	width: 100%;
	background-color: #b2cbe6;
	border-top: 1px solid #343434;
}

.logo-text {
	color: #343434;
}

.nav-link {
	margin: 5px;
	color: #343434;
}

.nav-link:hover {
	font-size: 15px;
}

li {
	margin: 10px;
}

@media screen and (max-width: 1600px) {
	.footer {
		height: 15%;
	}
}
